.footer-container {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icons-container {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.footer-icon {
  height: 21px;
}

.footer-contact-us {
  color: #3d3c3c;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
